<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Showdown Analizer</title>
    <link rel="stylesheet" href="/static/style.css">
    <script src="https://unpkg.com/htmx.org@1.9.12"></script>
</head>

<body>
    <div class="container">
        <header>
            <h1>SHOWDOWN ANALIZER</h1>
            <p>Pega el ID de una batalla de showdown para conectarte en tiempo real.</p>
        </header>

        <main>
            <form id="connect-form">
                <input class="input-uwu" type="text" name="roomid" id="roomid-input"
                    placeholder="Ej: battle-gen9randombattle-1234567890">
                <button type="submit" id="connect-btn">Conectar</button>
            </form>

            <div class="result-container">
                <h2>Log de Batalla En Vivo</h2>
                <div id="suggestion-box-container">
                    <div id="suggestion-box" class="suggestion-highlight"></div>
                </div>
                <div id="battle-log" class="log-window">
                    <p class="placeholder">Los eventos se muestran aca...</p>
                </div>
            </div>
        </main>
    </div>

    <script src="/static/script.js"></script>
</body>

</html>
